@charset "UTF-8";
h1 {
  font-family: Comic, sans - serif;
  font-size: 50px;
  color: chocolate;
  text-decoration: underline;
  font-style: italic;
  margin: 20px 5px 15px 5px;
  background-color: rgb(15, 106, 197);
  padding: 20px 10px 5px 0px;
}
p {
  color: blueviolet;
}
